html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* Thiết lập layout chính */

.wrapper {
    height: 100%;
    display: flex;
}


/* Thiết lập sidebar cố định ở bên trái */

.sidebar {
    width: 250px;
    /* Chiều rộng của sidebar */
    background-color: #f0f0f0;
    /* Màu nền của sidebar */
}


/* Thiết lập main content */

.main-content {
    flex: 1;
    /* Chiếm phần còn lại của chiều rộng */
    display: flex;
    flex-direction: column;
}


/* Thiết lập menu bar cố định ở trên cùng */

.menu-bar {
    height: 90px;
    background-color: #333;
    /* Màu nền của menu bar */
    color: white;
    /* Màu chữ trắng trên menu bar */
}


/* Thiết lập khối mô tả */

.description {
    height: 150px;
    /* Đặt chiều cao của khối mô tả là 150px */
    background-color: #f9f9f9;
    /* Màu nền của khối mô tả */
    padding: 20px;
    /* Để tạo khoảng cách giữa nội dung và menu bar */
}


/* Thiết lập phần content có chiều cao còn lại của màn hình */

.content {
    display: flex;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
}